*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main{
    transition: all 0.5s;
    padding-top: 100px;
}
header{
    position: fixed;
    width: 100%;
    opacity: 90%;
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    justify-content: center;
    background: #FAC45B;
    flex-shrink: 0;
    align-items: center;
    z-index: 1000;
    gap:10px;
}
header img{
    justify-self: left;
    margin-left: 10px;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    z-index: 1;
}
nav ul{
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    width: max-content;
    justify-content: space-between;
}

nav ul a{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    position: relative;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    p{
        margin: 0 5px;
    }

    
}
nav img{
    display: block;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    padding: 0;
}

#menu-toggle{
    display: none;
}

#menu-button{
    display: none;
}


.contacts{
    display: grid;
    grid-template-areas: 
    "VK Telegram"
    "WhatsApp YouTube"
    "Address Address";
    width: 100%;
    justify-content: center;
    column-gap: 20%;
    row-gap: 20px;
    margin: 5% 0;
}
.vk{
    grid-area: "VK";

}
.whatsapp{
    grid-area: "WhatsApp";
}
.telegram{
    grid-area: "Telegram";
}
.youtube{
    grid-area: "YouTube";
}
.address{
    justify-self: center;
    grid-area: "Address";
    width: 100%;
}


.map{
    margin: 0 auto;
    display: flex;
    height: 400px;
    width: 100%;
    justify-content: center;
}

footer{
    display: flex;
    flex-flow: row wrap;
    height: fit-content;
    justify-content: space-between;
    align-items: flex-start;
    gap: 113px;
    flex-shrink: 0;
    background: #FAC45B;
    margin-top: 50px;
    padding: 34px 64px;

}

footer img{
    width: 210px;
    height: 210px;
    flex-shrink: 0;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}
.div-footer{
    display:flex;
    flex-flow: column nowrap;
    gap: 18px;
    align-items: baseline;
}

.div-footer a {
    position: relative;
    color: #000;
    width: fit-content;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
.a::before, .card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    bottom: -5px;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;

}

.a:hover::before, .card:hover::before {
  transform: scaleX(1);
}

@media (max-width:800px){
    footer{ 
        justify-content: center;
    }    
    header{
        justify-content: space-between;
    }

    .div-footer{
        justify-self: center;
        width: 100%;
        flex-flow: column wrap;
        align-items: center;
        a{
            font-size: larger
        }
    }

    .contacts{
        grid-template-areas: 
        "VK"
        "Telegram"
        "WhatsApp"
        "YouTube"
        "Address";
        justify-content: left;
        margin-left: 2%;
        width: 98%;
    }
    #menu-button {
        display: flex;
        flex-flow: column;
        justify-content: center;
        cursor: pointer;
        padding: 20px;
        background-color: #FAC45B;
        color: #000;
        position: relative;
        user-select: none;
    }
    
    .firstLine,
    .thirdLine, .secondLine {
        display: block;
        width: 25px;
        height: 3px;
        right:5px;
        background-color: #000;
        margin: 2px 0;
        position: relative;
        transition: 0.4s;
    }

    .menu {
        display: flex;
        margin: 0 0;
        opacity: 0;
        top: 100px;
        height: fit-content;
        width: 100%;    
        background-color: #FAC45B;
        z-index: 1;
        transition: all 0.5s;
        transform: translateY(-1000%);
    }
    
    .menu ul {
        justify-self: center;
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    

    .proposals div{
        width: 100%;
    }

}