*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main{
    transition: all 0.5s;
    padding-top: 100px;
}
header{
    position: fixed;
    width: 100%;
    opacity: 90%;
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    justify-content: center;
    background: #FAC45B;
    flex-shrink: 0;
    align-items: center;
    z-index: 1000;
    gap:10px;
}
header img{
    justify-self: left;
    margin-left: 10px;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    z-index: 1;
}
nav ul{
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    width: max-content;
    justify-content: space-between;
}

nav ul a{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    position: relative;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    p{
        margin: 0 5px;
    }

    
}
nav img{
    display: block;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    padding: 0;
}


#menu-toggle{
    visibility: hidden;
}
.div-search{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}
.div-search a{
    display: flex;
    align-items: center;
    border-radius: 0px 32px 32px 0px;
    border-width: 1px;
    border-style: groove;
    border-color: black;

}
.input-search{
    margin: 5% auto;
    padding: 0;
    width: 100%;
    height: 50px;
    align-items: center;
    gap: 10px;
    border-radius: 32px 0px 0px 32px;
    border-width: 1px;
    border-style: groove;
    border-color: black;
    background: #D9D9D9;
    outline:none;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.input-search:placeholder-shown{
    padding-left: 5%;
}
.input-search:focus{
    border-color: #FAC45B;
    appearance: none;

}



.main-title{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.books-type{
    display: flex;
    align-items: flex-start;
    border-radius: 8px;
    background: rgba(254, 182, 42, 0.25);
    width: 90%;
    margin: 2% 5%;
    font-size: 26px;
    height: 47px;
    justify-content: center;
    align-items: center;

}
.books-type p{
    font-size: 1.6rem;
    text-decoration: underline;
}
.books{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 10%;
    gap:80px;
}


.book-card{
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    overflow-wrap: break-word;
    max-height: fit-content;
    p{
        font-size: large;
        max-width: 200px;
    }
    
}
.book-image{
    width: 200px;
    height: 250px;
    border-radius: 10%;
}


.title{
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.price{
    color: rgb(32, 49, 202);
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card-buttons{
    display: flex;
    width: 90%;
    flex-flow: row wrap;
    justify-content: space-around;

}
.card-buttons .card-button{
    background: #FFB000;
    width: 20%;
    height: 42px;
    transition: all 0.5s;
    
}
.card-buttons .card-button:hover{
    background: #82b369;
    transition: all 0.5s;
}


.filter{
    background-color: #FAC45B;
    border-radius: 10%;
    width: fit-content;
    height: 40px;
    margin-top: 100px;
    
}
.price-filter {
    position: absolute;
    width: 25%;
    text-align: center;
    background-color: #FFB000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 5%;
    transition: all 1s;
    opacity: 1;
    transform: translateX(-100%);
    z-index: 10;
}
.sort-ascending, .sort-descending{
    background-color: #FAC45B;
    border-radius: 10%;
    width: fit-content;
    height: 40px;
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #555;
}






footer{
    display: flex;
    flex-flow: row wrap;
    height: fit-content;
    justify-content: space-between;
    align-items: flex-start;
    gap: 113px;
    flex-shrink: 0;
    background: #FAC45B;
    margin-top: 50px;
    padding: 34px 64px;

}

footer img{
    width: 210px;
    height: 210px;
    flex-shrink: 0;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}
.div-footer{
    display:flex;
    flex-flow: row nowrap;
    gap: 18px;
    justify-content: space-between;
    width: 100%;
}

.div-footer a {
    position: relative;
    color: #000;
    width: fit-content;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
.a::before, .card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    bottom: -5px;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;

}

.a:hover::before, .card:hover::before {
  transform: scaleX(1);
}


@media (max-width:1000px){
    footer img{
        display: none;
    }
    .propimg{
        display: none;
    }
    .proposals{
        justify-content: center;
    }


}
@media (max-width:800px){
    .mySlides-1, .mySlides-2, .mySlides-3{
        max-height: 450px;
    }
    .price-filter{
        width: 50%;
    }
    .filter{
        margin-top:100px;
    }
    footer{ 
        justify-content: center;
    }    
    header{
        justify-content: space-between;
    }
    .div-footer{
        flex-flow: column wrap;
        align-items: center;
        a{
            font-size: larger
        }
    }
    
    .div-search{
        width: 80%;
        margin: 0 10%;
    }
    .books{
        margin: 0;
        gap:30px;
    }

    .book-image{
        max-width: 120px;
        max-height: 150px;
    }

    #menu-button {
        display: flex;
        flex-flow: column;
        justify-content: center;
        cursor: pointer;
        padding: 20px;
        background-color: #FAC45B;
        color: #000;
        position: relative;
        user-select: none;
    }
    
    .firstLine,
    .thirdLine, .secondLine {
        display: block;
        width: 25px;
        height: 3px;
        right:5px;
        background-color: #000;
        margin: 2px 0;
        position: relative;
        transition: 0.4s;
    }
    
    .menu {
        display: flex;
        margin: 0 0;
        opacity: 0;
        top: 100px;
        height: fit-content;
        width: 100%;    
        background-color: #FAC45B;
        z-index: 1;
        transition: all 0.5s;
        transform: translateY(-1000%);
    }
    
    .menu ul {
        justify-self: center;
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    

    .proposals div{
        width: 100%;
    }
    .slideshow-container-1, .slideshow-container-2, .slideshow-container-3 {
        flex-flow: column wrap;
    }
    .title{
        max-width: 80%;
    }

}




/* Slideshow container */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
  }

.slideshow-container-1, .slideshow-container-2, .slideshow-container-3 {
    width: 95%;
    position: relative;
    margin: 0 2.5%;
    overflow: hidden;
    border-width: 2px;
    border-color: #000;
    border-style: groove;
    border-radius: 5%;
    height: 400px;
  }
  
  /* Hide the images by default */
  .mySlides-1,.mySlides-2,.mySlides-3 {
    width: 100%;
    margin: 40px 0;
    display: flex;
    justify-items: center;
    flex-flow: column wrap;
    align-items: center;
    padding: 25px;
    opacity: 1;
    transform: translateX(0%);
    transition: 0.5s;

  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 6px;
    color: #000000;
    background-color: #FAC45B;
    font-weight: bold;
    font-size: 28px;
    transition: 0.6s ease;
    border-radius: 10px;
    user-select: none;
    margin: 0 5px;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }