
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#main{
    transition: all 0.5s;
}
header{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    justify-content: center;
    background: #FAC45B;
    flex-shrink: 0;
    align-items: center;
    z-index: 1000;
    gap:10px;
}
header img{
    justify-self: left;
    margin-left: 10px;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    z-index: 1;
}
nav ul{
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    width: max-content;
    justify-content: space-between;
}

nav ul a{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    position: relative;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    p{
        margin: 0 5px;
    }

    
}
nav img{
    display: block;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    padding: 0;
}


#menu-toggle{
    visibility: hidden;
}
.div-search{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}
.div-search a{
    display: flex;
    align-items: center;
    border-radius: 0px 32px 32px 0px;
    border-width: 1px;
    border-style: groove;
    border-color: black;

}
.input-search{
    margin: 5% auto;
    padding: 0;
    width: 100%;
    height: 50px;
    align-items: center;
    gap: 10px;
    border-radius: 32px 0px 0px 32px;
    border-width: 1px;
    border-style: groove;
    border-color: black;
    background: #D9D9D9;
    outline:none;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.input-search:placeholder-shown{
    padding-left: 5%;
}
.input-search:focus{
    border-color: #FAC45B;
    appearance: none;

}



.main-title{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}


.books{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 15%;
    gap:80px;
}


.book-card{
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    height: 420px;
    cursor: pointer;
    overflow-wrap: break-word;
    p{
        font-size: large;
        max-width: 200px;
    }
    
}
.book-image{
    width: 200px;
    height: 250px;
    border-radius: 10%;
}


.title{
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.price{
    color: #8D4600;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card-buttons{
    display: flex;
    width: 90%;
    flex-flow: row wrap;
    justify-content: space-around;

}
.card-buttons .card-button{
    background: #FFB000;
    width: 40%;
    height: 42px;
    transition: all 0.5s;
    
}
.card-buttons .card-button:hover{
    background: #82b369;
    transition: all 0.5s;
}








footer{
    display: flex;
    flex-flow: row wrap;
    height: fit-content;
    justify-content: space-between;
    align-items: flex-start;
    gap: 113px;
    flex-shrink: 0;
    background: #FAC45B;
    margin-top: 50px;
    padding: 34px 64px;

}

footer img{
    width: 210px;
    height: 210px;
    flex-shrink: 0;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}
.div-footer{
    display:flex;
    flex-flow: row nowrap;
    gap: 18px;
    justify-content: space-between;
    width: 100%;
}

.div-footer a {
    position: relative;
    color: #000;
    width: fit-content;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
.a::before, .card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    bottom: -5px;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;

}

.a:hover::before, .card:hover::before {
  transform: scaleX(1);
}


@media (max-width:1000px){
    footer img{
        display: none;
    }
    .propimg{
        display: none;
    }
    .proposals{
        justify-content: center;
    }


}
@media (max-width:800px){
    footer{ 
        justify-content: center;
    }    
    header{
        justify-content: space-between;
    }
    .div-footer{
        flex-flow: column wrap;
        align-items: center;
        a{
            font-size: larger
        }
    }
    
    .div-search{
        width: 80%;
        margin: 0 10%;
    }
    .books{
        margin: 0;
        gap:30px;
    }
    .book-card{
        max-width: 160px;
        max-height: 320px;
        margin-bottom: 40px;
    }
    .book-image{
        max-width: 180px;
        max-height: 250px;
    }

    #menu-button {
        display: flex;
        flex-flow: column;
        justify-content: center;
        cursor: pointer;
        padding: 20px;
        background-color: #FAC45B;
        color: #000;
        position: relative;
        user-select: none;
    }
    
    .firstLine,
    .thirdLine, .secondLine {
        display: block;
        width: 25px;
        height: 3px;
        right:5px;
        background-color: #000;
        margin: 2px 0;
        position: relative;
        transition: 0.4s;
    }
    
    .menu {
        display: flex;
        margin: 0 0;
        opacity: 0;
        top: 100px;
        height: fit-content;
        width: 100%;    
        background-color: #FAC45B;
        z-index: 1;
        transition: all 0.5s;
        transform: translateY(-1000%);
    }
    
    .menu ul {
        justify-self: center;
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    

    .proposals div{
        width: 100%;
    }


}