*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
  overflow: hidden;
  height: 100vh;
}
section
{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(to bottom, #205fc5, #24313a);
  overflow: hidden;
}

section .color
{
  position: absolute;
  filter: blur(200px);
}

section .color:nth-child(1)
{
  top: 10%;
  width: 50%;
  right: 50%;
  height: 50%;
  background: #FAC45B;
}

section .color:nth-child(2)
{
  bottom: 10%;
  left: 60%;
  width: 40%;
  height: 70%;
  background: #82b369;
  
}

section .color:nth-child(3)
{
  bottom: 5%;
  right: 30%;
  width: 70%;
  height: 30%;
  background: #db5cdb;
}

.container
{
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(161, 128, 39, 0.147);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255,255,255,0.5);

}

.form
{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.form h2 
{
  position: relative;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.form h2::before
{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 4px;
  background: #fff;
}

.form .inputBox 
{
  width: 100%;
  margin-top: 20px;
}

.form .inputBox input
{
  width: 100%;
  background: rgba(255,255,255,0.2);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255,255,255,0.5);
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
}

.form .inputBox input::placeholder
{
  color: #fff;
}

.form .inputBox input[type="submit"]
{
  background: #fff;
  color: #666;
  max-width: 100px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 600;
}

.forget
{
  margin-top: 5px;
  color: #fff;
}

.forget a 
{
   color:#fff;
   font-weight: 600;
}




