*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    justify-content: space-between;
    background: #FAC45B;
    flex-shrink: 0;
    align-items: center;
}
header img{
    
    margin-left: 10px;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    z-index: 1;
}
nav{
    display: flex;
    margin-right: 20px;
    flex-flow: row wrap;
}
nav ul{
    display: flex;
    flex-flow: row wrap;
    gap: 24px;
    width: max-content;
    justify-content: space-between;
}

nav ul a{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    position: relative;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    p{
        margin: 0 5px;
    }

    
}
nav img{
    display: block;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    padding: 0;
}


.dropdown{
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    top:16%;
    left:0%;
    height: 32px;
    width: 32px;
}
.dropdown-menu{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    background: #FAC45B;
    top:100px;
    transform: translateX(-100%);
    right: 8px;
    height: 200px;
    width: 170px;
    padding-left: 0;
    transition: transform 1s ease-in-out 0.5s;
    z-index: 3;
}

.dropdown-menu div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    z-index: 3;
}

.dropdown-menu-button{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    background: #ffffff;
    border-width: 0;
    width: 32px;
}
.dropdown:hover{
    width: fit-content;
    height: fit-content;
}
.dropdown:hover .dropdown-menu{
    opacity: 1;
    transform: translateX(0%);
    transition: transform 1s ease-in-out;
    z-index: 0;
}

.dropdown-menu div:hover{
    background: linear-gradient(45deg, #FAC45B, #82b369,#FAC45B, #82b369,#FAC45B, #82b369,#FAC45B, #82b369,#FAC45B, #82b369,#FAC45B, #82b369,#FAC45B, #82b369,#FAC45B, #82b369,#FAC45B, #82b369,#FAC45B, #82b369,#FAC45B, #82b369,#FAC45B, #82b369,#FAC45B, #82b369,#FAC45B, #82b369,#FAC45B, #82b369,#FAC45B, #82b369,#FAC45B, #82b369,#FAC45B, #82b369,#FAC45B, #82b369,#FAC45B, #82b369,#FAC45B, #82b369,#FAC45B, #82b369,#FAC45B, #82b369,#FAC45B, #82b369,#FAC45B, #82b369,#FAC45B, #82b369,#FAC45B, #82b369);
    animation: glowing 400s linear infinite;
    background-size: 5000%;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

#menu-toggle{
    visibility: hidden;
}
.div-search{
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.input-search{
    margin: 5% auto;
    width: 100%;
    height: 48px;
    align-items: center;
    gap: 10px;
    border-radius: 32px 0px 0px 32px;
    border-width: 3px;
    background: #D9D9D9;
    outline:none;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.input-search:placeholder-shown{
    padding-left: 5%;
}
.input-search:focus{
    border-color: #FAC45B;
    appearance: none;

}
.dignities{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 67px;
    margin-bottom: 100px;
}
.card{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-self: stretch;
    gap:16px;
}
.card{
    position: relative;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.card img{
    width: 100px;
    height: 100px;
}

.proposals{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    gap:24px;

}
.proposals div{
    position: relative;
    display: flex;
    width: 35%;
    height: 100%;
    flex-flow: column wrap;
    justify-content: center;
    gap:24px;
}

.proposals div a img{
    width: auto;
    height: auto;
    align-self: flex-end;
    flex-shrink: 0;
    
}
.propimg{

    flex-shrink: 1;
    border-radius: 10px;
    width: 52%;
    height: 472px;
    border-style: groove;
    border-color: #82b369;
    border-width: 2px;
   
}


.header-slider{
    display: flex;
    align-items: flex-start;
    border-radius: 8px;
    background: rgba(254, 182, 42, 0.25);
    width: 100%;
    margin-top: 54px;
    margin-bottom: 36px;
    font-size: 26px;
    height: 47px;
    justify-content: center;
    align-items: center;
    
    
}
.books{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 48px;
}


.book-card{
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    align-items: center;
    height: 100%;
    cursor: pointer;
    overflow-wrap: break-word;
    figure{
        display: flex;
        justify-content: center;
        margin: 0;
    }
    figcaption{
        display: flex;
        position: absolute;
        opacity: 0;
        a{
            text-decoration: none;
            color:#fff;
        }

    }

}   


    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    content: "";
    position: absolute; 
    left: 0; right: 0; 
    top:0;
    height: 60%;
    
    background: linear-gradient(#82b369d3, #fac55bd3);

    opacity: 0;
    transform: translateY(50%);
    transition: all 1s;

}
.book-card:hover::before {
    transform: translateY(0%);
    transition: all 1s;
    opacity: 1; 
    
}


.book-card:hover figcaption{
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    color:#fff;
    font-size: 16px;

    bottom:0;
    left:0;
    right: 0;
    opacity: 1;
    transition: opacity 1s;
} */

.title{
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.price{
    color: #8D4600;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card-buttons{
    display: flex;
    width: 90%;
    flex-flow: row wrap;
    justify-content: space-around;

}
.card-buttons .card-button{
    background: #FFB000;
    width: 40%;
    height: 42px;
    transition: all 0.5s;
    
}
.card-buttons .card-button:hover{
    background: #82b369;
    transition: all 0.5s;
}


.video{
    display: flex;
    margin-top: 50px;
    flex-flow: row nowrap;
    justify-content: center;
    cursor: pointer;
    width: fit-content;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.video-text{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    color: #fff;
    width: 70%;
    height: 70%;
    bottom:15%;
    left:-5%;
    right: 0;
    transform: translateX(-300%);
    transition: all 1s; 
}

.video::before{
    content: "";
    display: flex;
    position: absolute;
    opacity: 0;
    background: #000000d3;
    width: 70%;
    height: 70%;
    bottom:15%;
    left:-5%;
    right: 0;
    transform: translateX(-300%);
    transition: all 1s;
}

.video:hover::before{
    opacity: 1;
    transform: translateX(0%);
    transition: all 1s;
}
.video:hover .video-text{
    opacity: 1;
    transform: translateX(0%);
    transition: all 1s;
}


footer{
    display: flex;
    flex-flow: row wrap;
    height: fit-content;
    justify-content: space-between;
    align-items: flex-start;
    gap: 113px;
    flex-shrink: 0;
    background: #FAC45B;
    margin-top: 50px;
    padding: 34px 64px;

}

footer img{
    width: 210px;
    height: 210px;
    flex-shrink: 0;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}
.div-footer{
    display:flex;
    flex-flow: column nowrap;
    gap: 18px;
    align-items: baseline;
}

.div-footer a {
    position: relative;
    color: #000;
    width: fit-content;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
.a::before, .card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    bottom: -5px;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;

}

.a:hover::before, .card:hover::before {
  transform: scaleX(1);
}

@media (max-width:1000px){
    footer img{
        display: none;
    }
    .propimg{
        display: none;
    }
    .proposals{
        justify-content: center;
    }
    .div-search{
        width: 100%;
    }
    .book-card img{
        width: 50%;
    
    }
    .dropdown{
        display: none;
    }

}
@media (max-width:800px){
    #menu-button {
        display: block;
        cursor: pointer;
        padding: 20px;
        background-color: #FAC45B;
        color: #000;
        position: relative;
        user-select: none;
    }
    
    #menu-button span {
        display: block;
        width: 25px;
        height: 3px;
        right:5px;
        background-color: #000;
        margin: 5px 0;
        position: absolute;
        transition: 0.4s;
    }
    
    #menu-button span::before,
    #menu-button span::after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: #000000;
        position: absolute;
        transition: 0.4s;
    }
    
    #menu-button span::before {
        top: -8px;
    }
    
    #menu-button span::after {
        top: 8px;
    }
    .menu {
        margin-left: 8px;
        visibility: hidden;
        position: absolute;
        top: 100px;
        height: fit-content;
        left: 0;
        width: 97.1%;
        background-color: #FAC45B;
        
        z-index: 1;
    }
    
    .menu ul {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    #menu-toggle:checked + #menu-button span {
        background-color: transparent;
    }
    
    #menu-toggle:checked + #menu-button span::before {
        transform: rotate(-45deg);
        top: 0;
        background-color: red;
    }
    
    #menu-toggle:checked + #menu-button span::after {
        transform: rotate(45deg);
        top: 0;
        background-color: red;
    }
    
    #menu-toggle:checked ~ .menu {
        visibility: visible;
    }

    .proposals div{
        width: 100%;
    }

}




